@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
/* @import "./Landing Page Draft/styles2.css" */

html, body {
    width: 100%;
    height: 100%;
    background-color: white;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;

}

.layout-container > div{
    display: inline;

}

.layout-container{
    width: 100%;
    height: 100%;
}

a{

    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 32px;
    color: white;
    text-decoration: none;
}   
/* .menu{
    color: white;
} */



.main-container{
    background-color: white;
    width: 60%;
    height: 100%;
    float: left;
}

.main-container > h1,h3{
    margin-left: 2%;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 1.5px;
    color: black;
}


.below-nav-bar{
    background-color: purple;
}

.left-navigation-bar{
    background-color: purple;
    width: 20%;
    height: 100%;
    float: left;
}
.top-navigation-bar{
    background-color:black;
}

button {
    font-family: "Montserrat", sans-serif;
    color: white;
    border-radius: 2px;
    background-color: #220022;
    text-decoration: none;
    float: right;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    background-color: #4A235A;
}
#control-buttons {
    margin-top: 5%;
}

/* Adapted from add_subject.css*/
/* TODO: Switch to proper cascading styles instead of copy-paste */
#help-text{
    color: black;
}

.help{
    color: black;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: white;
}

.help:hover{
    background-color: purple;
}

.help:hover #help-text{
    color: white;
 }

#control-buttons button, #course-select, #subjects-box {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: white;
    background-color: purple;
    border-radius: 25px;
    margin-left: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}
#control-buttons button:hover, .subject-entry:hover {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: white;
    background-color: #FF00FF;
    border-radius: 100px;
}



/* TODO: make view height of subjects box relative to parent div instead of hardcoded */
#subjects-box {
    width: 80%;
    height: 300px;
    overflow: auto;
}
