@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

html, body {
    width: 100%;
    height: 100%;
    background-color: white;
    margin: 0;
    padding: 0;
}

a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 32px;
    color: black;
    text-decoration: none;
}

button{
    color: black;
}

.top{
    position: absolute;
    width: 100%;
    height: 10%;
    background-color: black;
}

.layout-container{
    display: flex;

}

.help {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    background-color: black ;
}

.left{
    float: left;
    width: 20%;
    height: 100%;
    background-color: blue;
    margin-top: 5%;
}

.right{
    float: right;
    height: 100%;
    background-color: red;
}
