/* TODO: make overflow scrollbar visible. Currently it is hidden behind details pane*/
/* TODO: style scrollbar*/
/* UPDATE: scrollbar is visible as well as background of gradeSysBox */

#subName, #numUnits, #start, #end, .gradeSys-Type, .gradeSys-Points {
    width: 45%;
}

#numUnits{
    margin-left: 2.25%;
}

#start{
    margin-left: 4%;
}

#end{
    margin-left: 4.8%;
}

#add_gradeSys, #del_gradeSys {
    padding-left: 0.5%;
    padding-right: 0.5%;
}

#submit-button, #cancel-button, #addCL{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 0.5%;
    padding-bottom: 0.5%
}

#submit-button {
    margin-left: 55%;
    margin-right: 1%;
}

#addCL {
    margin-left: 2%;
    background-color: rgb(55, 51, 66);
}

#addSub{
    background-color: rgb(52, 48, 48);
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 0.5%;
    padding-left: 0.5%;
    margin-left: 5%;
    margin-right: 5%;
}

#startEndButton{
    background-color:  rgb(52, 48, 48);
}

#startEnd{
    background-color:  rgb(52, 48, 48);
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 0.5%;
    padding-left: 0.5%;
    margin-left: 5%;
    margin-right: 5%;
}