/* TODO: make overflow scrollbar visible. Currently it is hidden behind details pane*/
/* TODO: style scrollbar*/
/* UPDATE: scrollbar is visible as well as background of gradeSysBox */

#subName, #numUnits, #start, #end, .gradeSys-Type, .gradeSys-Points {
    width: 45%;
}

#add_gradeSys {
    margin-left: 1%;
}

#submit, #cancel, #addCL{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 0.5%;
    padding-bottom: 0.5%
}

#submit {
    margin-left: 55%;
    margin-right: 1%;
}

#addCL {
    margin-left: 1%;
}

