@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

#course-select, #subjects-box {
    font-family: "Montserrat", sans-serif;
    font-size: large;
    background-color: rgb(52, 48, 48);
    background-position: 20px 20px;
    color: white;
    width: 45%;
    margin-left: 5%;
}

/* TODO: make view height of subjects box relative to parent div instead of hardcoded */
#subjects-box {
    width: 90%;
    max-height: 70vh;
    overflow: auto;
}

#course-subjects > h3 {
    font-size: large;
}

#course-subjects label {
    margin-left: 0%;
    color: white;
}

#submit {
    display: flex;
    justify-content: flex-end;
    margin-right: 2%;
}

#degprog{
    margin-left: 2.5%;
}


.subject-entry{
    margin-left: 1%;
    margin-bottom: 0.5%;
    margin-top: 0.5%;
}

.subject-entry > label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}