@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

#course-select, #subjects-box {
    font-family: "Montserrat", sans-serif;
    font-size: large;
    background-color: purple;
    background-position: 20px 20px;
    color: white;
    width: 45%;
    margin-left: 5%;
}

/* TODO: make view height of subjects box relative to parent div instead of hardcoded */
#subjects-box {
    width: 80%;
    height: 300px;
    overflow: auto;
}

#course-subjects > h3 {
    font-size: large;
}

#course-subjects label {
    margin-left: 0%;
    color: white;
}

#submit-button {
    margin-left: 55%;
}

#add_gradeSys, #del_gradeSys {
    padding-left: 0.5%;
    padding-right: 0.5%;
}

#editSubSection, #startEnd{
    background: rgb(52, 48, 48);
    padding: 1%;
    margin-left: 5%;
    margin-right: 5%;
}
