@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

html, body {
    width: 100%;
    height: 100%;
    background-color: black;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.layout-container {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.top-navigation-bar{
    background-color:black;
}

.below-nav-bar {
    display:inline-flex;
    flex-grow: 1;
    /* TODO: Don't hardcode max height*/
    max-height: 91.5%;
    background-color: rgb(63, 60, 86);
}

.left-navigation-bar {
    background-color: rgb(55, 51, 66);
    float: left;
    text-align: right;
    padding-left: 2%;
    padding-right: 1%;
    display: flex;
    flex-basis: max-content;
    white-space: nowrap;
    flex-direction: column;
    /* justify-content: space-between; */
}

.main-container {
    position: relative;
    flex-basis: 100%;
    background-color: black;
    float: left;
    overflow: auto;
    padding-bottom: 2%;
}

h3, label {
    font-family: "Montserrat", sans-serif;
    /* font-weight: 600; */
    font-size: 24px;
    letter-spacing: 1.5px;
    margin-left: 2.5%;
    color: white;
}

label{
    font-family: "Montserrat", sans-serif;
    letter-spacing: 1px;
    margin-left: 1.5%;
}

.field_label {
    margin-left: 4%;
}

a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 32px;
    text-decoration: none;
}

a:hover{
    border-radius: 50px;
    color:  rgba(109, 175, 237, 0.75);
}

.details-pane {
    background-color: #e3d8d8;
    flex-basis: 25%;
    float: left;
}

.details-pane > h1{
    margin-left: 5%;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: black;
}


.menu {
    color: white;
    margin: 5%;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 25px;
    text-decoration: none;
}

.menu.active{
    color: rgba(109, 175, 237, 0.75)
}


#help-text{
    color: black;
    margin: 5%;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 32px;
    text-decoration: none;
}

.help{
    color: black;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    right: 2.5%;
}

.help:hover{
    background-color: purple;
}

.help:hover #help-text{
    color: white;
 }

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    background-color: #262526;
}

.control-button {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: white;
    border-radius: 25px;
    background-color: rgb(45, 44, 49);
    text-decoration: none;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

.control-button:hover, .subject-entry:hover {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: white;
    background-color: rgb(50, 50, 50);
    border-radius: 100px;
    cursor: pointer;
}

.input-field {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    background-color: rgb(55, 51, 66);
    background-position: 20px 20px;
    color: white;
    text-align: right;
    width: 45%;
}

.input-field:hover {
    background-color:rgb(98, 91, 116);
    background-position: 20px 20px;
}

.dropdown {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    background-color: rgb(55, 51, 66);
    background-position: 20px 20px;
    color: white;
    width: 45%;
    margin-left: 5%;
}

.dropdown:hover{
    cursor: pointer;
}

/* NOTE: Only used by add.html and edit_subject.html */
#gradeSysBox {
    width: 88%;
    margin-left: 5%;
    overflow: auto;
    background-color: #e3d8d8;
    padding: 1%;
}

.gradeSys-Type {
    width: 60%;
    margin-left: 1%;
    margin-right: 1%;
}
.gradeSys-Points {
    width: 30%;
    margin-left: 0%;
}
/* END NOTE */

.error-bar {
    display: none;
    background-color: #faa0a0;
    border-left: 6px solid #fa6d5a;
    margin-left: 2%;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    color: black;
    letter-spacing: 1.5px;
    width:95%;
}

.error-bar-shake {
    display: block;
    animation: horizontal-shaking 0.3s 3;
}

@keyframes horizontal-shaking {
  0% { transform: translateX(0) }
  25% { transform: translateX(5px) }
  50% { transform: translateX(-5px) }
  75% { transform: translateX(5px) }
  100% { transform: translateX(0) }
}

#logout{
    position: absolute;
    right: 8%;
    white-space: nowrap;
}

#logout > a{
    font-size: 28px;
}

.status {
    font-family: "Montserrat", sans-serif;
    font-style: 'Montserrat';
    color: white;
}

#loggedIn {
    color: gray;
    margin: 5%;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-align: left;
}

#endButtons{
    display: flex;
    justify-content: flex-end;
    margin-right: 1%;
}

#prio{
    white-space: nowrap;
}
