.main-container > img {
    margin-left: auto;
    margin-right: auto;
}

/* fullcalender styling; Override rules by opening Inspect Elemnt then
 *copy full selector of topmost CSS style with relevant attribute (e.g. color)*/
.fc .fc-button {
    background-color: purple;
    color: white;
}

.fc .fc-button-primary:not(:disabled).fc-button-active {
    color: white;
    font-family: Arial, Helvetica, sans-serif;   
}

/* .fc-direction-ltr .fc-button-group > .fc-button:not(:first-child) {

} */

.fc .fc-button{
    background-color: #000000;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.fc .fc-button-primary:disabled {
    visibility: hidden
}

/* NOTE: Duplicate of h3/label rules in main.css */
/* TODO: Use LessCSS mixins (or similar) so that we don't need to duplicate???*/
.fc-toolbar-title {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 1.5px;
    margin-left: 2%;
    color: black;
}

.fc-event-title-container {
    background-color: purple;
}

.fc-timegrid-axis-frame, .fc-timegrid-slot-label-frame {
    color: black;
}

.fc-col-header-cell-cushion{
    color:white
}

.fc-daygrid-day-number{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size:20px;
}

.fc-toolbar-title{
    color:white
}

.fc-event-title{
    color:white;
}

.fc-event-time{
    color:white;
}

.fc-col-header-cell-cushion{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

#calendar{
    position: absolute;
    background-color: rgb(52, 48, 48);
    margin-left: 2%;
    margin-right: 2%;
    padding-top: 1%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-bottom: 2.5%;
    border: solid black;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    width: 85%;
    height: 85%;
    top: 52.5%;
    left: 50%;
    transform: translate(-52.5%, -52.5%);
}

/* Ensure that scrollbar is hidden since calendar will automatically fit screen*/
.fc .fc-scroller{
    overflow: hidden !important;
}

#welcome{
    font-family: 'Courier New', Courier, monospace;
    margin-left: 3%;
    margin-top: 3%;
}

:root {
    --fc-today-bg-color: rgb(17 54 88 / 75%);
}