{% load static %}

<!DOCTYPE html>
<html lang="en" style="background-image: url({% static 'img/pattern.png' %})">
    <head>
      <title>Login | Pr.io</title>
      <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}"/>
    </head>
    <body>
        <!-- <img src="{% static 'img/photo-1528819027803-5473f2bf7633.jpg' %}" alt="home" /> -->
        <form action="" method="POST" class="form-container">
            {% csrf_token %}

            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Username:</label>
              <input type="text" class="input-field" name="username" aria-describedby="emailHelp" placeholder="..username"><br>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password:</label>
              <input type="password" class="input-field" name="password" placeholder="..password"><br>
            </div>

            <div>
              <p class="form-label">Not a member? <a style="color: pink" href="{% url 'register' %}">Sign up</a></p><br>
              <p class="form-label">Need help? <a style="color: pink" href="{% url 'help' %}">Click here</a></p>
            </div>
            <br>

            <button type="submit" value="Submit" class="control-button">Submit</button>
        </form>

        {% if messages %}
          {% for message in messages %}
            {% if message.level == 25 %}
              <div class="alert {% if message.tags %} {{message.tags}} {% endif %}" id="alert"
                  style="background-color: green;">{{ message }}</div>
            {% else %}
              <div class="alert {% if message.tags %} {{message.tags}} {% endif %}" id="alert"
                    style="background-color: red;">{{ message }}</div>
            {% endif %}
          {% endfor %}
        {% endif %}
    </body>

    