{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
      <title>Login | Pr.io</title>
      <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}"/>
    </head>
    <body>
        <form action="" method="POST" class="form-container">
            {% csrf_token %}

            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Username:</label>
              <input type="text" class="form-control" name="username" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password:</label>
              <input type="password" class="form-control" name="password">
            </div>

            <input type="submit" value="Submit" class="control-button">
        </form>
    </body>