
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <script type="text/javascript" src="{% static 'js/main.js' %}" defer></script>
        <script type="text/javascript" src="{% static 'js/add_task.js' %}" defer></script>
        <title>Add Task Page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/add_task.css' %}"/>
        <link rel="icon" href="{%static 'img/favicon.ico' %}" type="image/x-icon">
    </head>
    <body>
    {% include "navigation_start.html" %}
                    <!-- <br><a id="addCL" class="control-button" href="{% url 'addCourseSub' %}">> Add Course Subjects</a> -->

                    <h3>ADD TASK INFORMATION:</h3>
                    <div id = "addTaskFields">
                    <form method = "POST" action="{% url 'task_details' %}">
                        {% csrf_token %}
                        <label for="subject_id">Subject:</label>
                        <select id="subject_id" name ="subject_id" class="dropdown" onchange="subjectChanged(this.form)"></input>
                            <option value=-1>--SELECT SUBJECT--</option>
                        {% if subjects %}
                        {% for subject in subjects %}
                        {% if subject.subName|length > 0 and subject.enrolee == user %}
                            <option value = {{ subject.id }}
                            {% if subject_id  == subject.id %}
                            selected="selected"
                            {% endif %}
                            >{{ subject.subName }}</option>
                        {% endif %}
                        {% endfor %}
                        {% endif %}
                        </select>
                    </form>
                    <br>
                    <form method = "POST" action="{% url 'addTaskForm' %}">
                        <!-- hidden input to hold subject_id so that it is included in form POST-->
                        <input type="hidden" value="{{ subject_id }}" name="subject_id">
                        {% csrf_token %}
                        {{ form }}
                        <div id="error-bar" class="error-bar"></div>
                        <div id="addSub">

                        <label for="reqType"> Input Requirement Type:</label>
                        <select id="reqType" name ="reqType" class="dropdown" required></input>
                        {% for reqName, gradeNum in reqTypes.items %}
                        {% if reqName|length > 0%}
                            <option
                            {% if prevReqType and reqName == prevReqType %}
                            selected="selected"
                            {% endif %}
                            > {{ reqName }} </option>
                        {% endif %}
                        {% endfor %}
                        </select>

                            <br><br>
                            <label for="taskName"> Task Name: </label>
                            <input id="taskName" name="taskName" class="input-field" type="text" required
                            {% if prevTaskName %}
                            value="{{ prevTaskName}}"
                            {% endif %}
                            ></input>
                            <br><br>
                            <label for="dueDate">Due Date: </label>
                            <input id="dueDate" name="dueDate" class="input-field" type="datetime-local" required
                            {% if prevDueDate %}
                            value="{{ prevDueDate}}"
                            {% endif %}
                            ></input>
                            <br><br>
                        </div>
                        <div id = "endButtons">
                        <input type="button" value ="Save" id="submit-button" class="control-button" onclick="submitForm(this.form)"></input>
                        <input type="button" value ="Cancel" id="cancel-button" class="control-button" onclick="this.form.reset()"></input>
                        <div>
                    </form>
                </div>
    {% include "navigation_end.html" %}
    
    </body>
</html>
