{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <script type="text/javascript" src="{% static 'js/main.js' %}" defer></script>
        <script type="text/javascript" src="{% static 'js/add_subject.js' %}" defer></script>
        <title>Add Subject Page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/add_subject.css' %}"/>
    </head>
    <body>
    {% include "navigation_start.html" %}
                    <br><a id="addCL" class="control-button" href="{% url 'addCourseSub' %}">> Add Course Subjects</a>
                    <h3>SUBJECT INFORMATION</h3>
                    <form method = "POST" action="{% url 'addSubForm' %}">
                        {% csrf_token %}
                        <div id="error-bar" class="error-bar"></div>
                        <div id="addSub">
                            <label for="subName"> Subject Name </label>
                            <input id="subName" name="subName" class="input-field" type="text" placeholder="...enter subject name" required/>
                            <br><br>
                            <label for="numUnits"> No. of Units </label>
                            <input id="numUnits" name="numUnits" class="input-field" type="number" placeholder="...enter number of units" required/>
                            <br><br>
                        </div>

                        <h3>Grading System / Breakdown</h3>
                        <div id="gradeSysBox">
                            <input name="reqName1" class="gradeSys-Type input-field" type="text" placeholder="e.g. Exam">
                            <input name="gradeNum1" class="gradeSys-Points input-field" type="number" placeholder="%, e.g. 30" min="0" max="100">
                            <button type="button" id="add_gradeSys" class="control-button" onclick="addGradeSys()">+</button>
                            <button hidden type="button" id="del_gradeSys" class="control-button" onclick="delGradeSys()">-</button>

                            <input hidden name="reqName2" class="gradeSys-Type input-field" type="text" placeholder="e.g. Exam">
                            <input hidden name="gradeNum2" class="gradeSys-Points input-field" type="number" placeholder="%, e.g. 30" min="0" max="100">

                            <input hidden name="reqName3" class="gradeSys-Type input-field" type="text" placeholder="e.g. Exam">
                            <input hidden name="gradeNum3" class="gradeSys-Points input-field" type="number" placeholder="%, e.g. 30" min="0" max="100">

                            <input hidden name="reqName4" class="gradeSys-Type input-field" type="text" placeholder="e.g. Exam">
                            <input hidden name="gradeNum4" class="gradeSys-Points input-field" type="number" placeholder="%, e.g. 30" min="0" max="100">

                            <input hidden name="reqName5" class="gradeSys-Type input-field" type="text" placeholder="e.g. Exam">
                            <input hidden name="gradeNum5" class="gradeSys-Points input-field" type="number" placeholder="%, e.g. 30" min="0" max="100">

                        </div><br><br>
                        
                        <div id="startEnd">
                            <label for="subStart"> Start Time </label>
                            <input id="start" name="subStart" class="input-field" type="time"/>
                            <br><br>
                            <label for="subEnd"> End Time </label>
                            <input id="end" name="subEnd" class="input-field" type="time"/>
                            <br><br>

                           <label><input type="checkbox" value="M" name="subjDays"></input>M</label>
                           <label><input type="checkbox" value="T" name="subjDays"></input>T</label>
                           <label><input type="checkbox" value="W" name="subjDays"></input>W</label>
                           <label><input type="checkbox" value="Th" name="subjDays"></input>Th</label>
                           <label><input type="checkbox" value="Sat" name="subjDays"></input>Sat</label>
                           <label><input type="checkbox" value="Sun" name="subjDays"></input>Sun</label>
                        </div><br>
                        
                        <input type="button" value ="Submit" id="submit-button" class="control-button" onclick="submitForm(this.form)"/>
                        <input type="button" value ="Cancel" id="cancel-button" class="control-button" onclick="this.form.reset()"/>
                    </form>

                    <!-- Add subjects data in HTML for access in javascript -->
                    {{ subjects_json|json_script:"subjects-data" }}
    {% include "navigation_end.html" %}
    </body>
</html>
