{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src="{% static 'js/main.js' %}" defer></script>
        <script type="text/javascript" src="{% static 'js/add_course_subjects.js' %}" defer></script>
        <title>Add Course Subjects</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/add_course_subjects.css' %}"/>
        <link rel="icon" href="{%static 'img/favicon.ico' %}" type="image/x-icon">
    </head>
    <body>
    {% include "navigation_start.html" %}
              <h3>ADD COURSE SUBJECTS</h3>
              <div id="error-bar" class="error-bar"></div>

              <form method = "POST" action="{% url 'addCourseSubList' %}">
                {% csrf_token %}
                <label id = "degprog" for="degprog_id">Degree Program:</label>
                <select id="degprog_id" name ="degprog_id" class="dropdown" onchange="this.form.submit()"></input>
                    <option value=-1>--CHOOSE DEGREE PROGRAM--</option>
                {% if degreeprogram %}
                {% for degprog in degreeprogram %}
                {% if degprog.degName|length > 0%}
                    <option value = {{ degprog.id }}
                    {% if degprog.id  == degprog_id %}
                    selected="selected"
                    {% endif %}
                    >{{ degprog.degName }}</option>
                {% endif %}
                {% endfor %}
                {% endif %}
                </select>
            </form>

            <form method = "POST" action="{% url 'addCourseSubForm' %}">
              {% csrf_token %}
               <!-- submit degprog_id as part of form -->
              <input type="hidden" value={{ degprog_id }} name="degprog_id" id="degprog_id"></input>
              <br>
              <div id="course-subjects">
              <div id="subjects-box" class="scroll">
              {% if subjects %}
              {% for subject in subjects %}
              <div class="subject-entry">
              <label><input type="checkbox" value="{{ subject }}" name="chosenSubs"></input>{{ subject }}</label>
              </div>
              {% endfor %}
              {% endif %}
              </div>
              </div>
              {% if degprog_id != -1 %}
              <br>
              <div id="submit">
              <input type="button" value ="Add Subjects" class="control-button" onclick="submitAddCourseSubjectsForm(this.form)"></input>
              <input type="button" value ="Reset" id="cancel-button" class="control-button" onclick="this.form.reset()"/>
              </div>
              {% endif %}
            </form>
    {% include "navigation_end.html" %}
    </body>
</html>
