{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src="{% static 'js/add_course_subjects.js' %}" defer></script>
        <title>Add Course Subjects</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/add_course_subjects.css' %}"/>
    </head>
    <body>
        <div class="layout-container">
            <div class = "top-navigation-bar">
                <header>
                    <nav><a href="{% url 'viewSched' %}" class="menu">PR.IO</a></nav>
                    <nav><a href="{% url 'logout' %}" class="menu">logout</a></nav>
                    <button class="help"><a href="#" id="help-text">?</a></button>
                </header>
            </div>

            <div class="below-nav-bar">
                <div class = "left-navigation-bar">
                    <br>
                    <a href="{% url 'viewSched' %}" class="menu">View Schedule</a><br><br>
                    <a href="{% url 'addTask' %}" class="menu">Add Task</a><br><br>
                    <a href="{% url 'addSub' %}" class="menu">Add Subject</a><br><br>
                    <a href="{% url 'checkSub' %}" class="menu">Search</a><br><br>
                    <a href="{% url 'editSub' %}" class="menu">Edit Subject</a><br><br>
                </div>
            <div class = "main-container">
              <h3>ADD COURSE SUBJECTS</h3>
              <!-- <select name="courses" id="course-select"></select> -->

              <!-- insert how to query the subject -->

              <form method = "POST" action="{% url 'subject_details' %}"> 
                {% csrf_token %}
                <label for="degprog_id">Degree Program:</label>
                <select id="degprog_id" name ="degprog_id" class="dropdown" onchange="this.form.submit()"></input>
                    <option value=-1>--CHOOSE DEGREE PROGRAM--</option>
                {% if degreeprogram %}
                {% for degprog in degreeprogram %}
                {% if degprog.degName|length > 0%}
                    <option value = {{ degprog.id }}>
                    {% if degprog.id  == degprog.id %}
                  
                    {% endif %}
                    >{{ degprog.degName }}</option>
                {% endif %}
                {% endfor %}
                {% endif %}
                </select>
            </form>


            


              <div id="course-subjects">
              </div>
              <div id="control-buttons">
              </div>
        </div>
            </div>
        </div>
    </body>
</html>
