{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- <script type="text/javascript" src="{% static 'js/add_subject.js' %}" defer></script> -->
        <title>Check Saved Subjects</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/add_subject.css' %}"/>
    </head>
    <body>
    {% include "navigation_start.html" %}
                    <!-- <br><a id="addCL" class="control-button" href="{% url 'addCourseSub' %}">> Add Course Subjects</a> -->
                    <h3>SUBJECTS SAVED:</h3>
                       {% for item in all_sub %}
                         <label>{{item}}</label><br>
                       {% endfor %}
                    <h3>TASKS SAVED: (Subject: Task Name)</h3>
                       {% for item in all_task %}
                         <label>{{item.subName}}: {{item}}, {{item.dueDate}}</label><br>
                       {% endfor %}
    {% include "navigation_end.html" %}
    </body>
</html>
