{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- <script type="text/javascript" src="{% static 'js/add_subject.js' %}" defer></script> -->
        <title>Check Saved Subjects</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/add_subject.css' %}"/>
    </head>
    <body>
    {% include "navigation_start.html" %}
                    <!-- <br><a id="addCL" class="control-button" href="{% url 'addCourseSub' %}">> Add Course Subjects</a> -->
                    <h3>SUBJECTS SAVED:</h3>
                       {% for sub in all_sub %}
                          {% if user == sub.enrolee %}
                            <label>{{sub}}</label><br>
                          {% endif %}
                       {% endfor %}
                    <h3>TASKS SAVED: (Subject: Task Name)</h3>
                    {% for sub in all_sub %}
                    {% if user == sub.enrolee %}
                       {% for task in all_task %}
                         {% if sub == task.subName %}
                         <label>{{task.subName}}: {{task}}, {{task.dueDate}}</label><br>
                         {% endif %}
                       {% endfor %}
                    {% endif %}
                    {% endfor %}
    {% include "navigation_end.html" %}
    </body>
</html>
