{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <script type="text/javascript" src="{% static 'js/main.js' %}" defer></script>
        <script type="text/javascript" src="{% static 'js/add_subject.js' %}" defer></script>
        <title>Edit Subject Page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/edit_subject.css' %}"/>
    </head>
    <body>
    {% include "navigation_start.html" %}
                    <h3>EDIT SUBJECT INFORMATION</h3>
                    <div id="error-bar" class="error-bar"></div>
                    
                    <div id="editSubSection">
                    <form method = "POST" action="{% url 'subject_details' %}">
                        {% csrf_token %}
                        <label for="subject_id">Subject:</label>
                        <select id="subject_id" name ="subject_id" class="dropdown" onchange="this.form.submit()"></input>
                            <option value=-1>--CHOOSE SUBJECT TO EDIT--</option>
                        {% if subjects %}
                        {% for subject in subjects %}
                        {% if subject.subName|length > 0 and subject.enrolee == user %}
                            <option value = {{ subject.id }}
                            {% if subject_id  == subject.id %}
                            selected="selected"
                            {% endif %}
                            >{{ subject.subName }}</option>
                        {% endif %}
                        {% endfor %}
                        {% endif %}
                        </select>
                    </form>

                    <form method = "POST" action="{% url 'editSubForm' subject_id %}">
                        {% csrf_token %}
                        <!-- submit current subject name as part of form -->
                        <input type="hidden" value="{{ subject.subName }}" name="currsubject" id="currsubject"></input>
                        <div id="addSub">
                            {% if subject_id != -1 %}
                            <label for="subName"> New Subject Name: </label>
                            <input id="subName" name="subName" class="input-field" type="text" value="{{subject}}"></input>
                            <br>
                            {% endif %}
                            
                            <br>
                            <label for="numUnits"> No. of Units: </label>
                            <input id="numUnits" name="numUnits" class="input-field" type="number" value={{subject.numUnits}}></input>
                            <br>
                        </div>
                    </div>

                        <h3>Grading System / Breakdown</h3>
                        <div id="gradeSysBox">
                            <input name="reqName1" class="gradeSys-Type input-field" type="text" placeholder="e.g. Exam" value="{{subject.reqName1}}">
                            <input name="gradeNum1" class="gradeSys-Points input-field" type="number" placeholder="%, e.g. 30" min="0" max="100" value={{subject.gradeNum1}}>

                            <input name="reqName2" class="gradeSys-Type input-field" type="text" placeholder="e.g. Exam" value="{{subject.reqName2}}">
                            <input name="gradeNum2" class="gradeSys-Points input-field" type="number" placeholder="%, e.g. 30" min="0" max="100" value={{subject.gradeNum2}}>

                            <input name="reqName3" class="gradeSys-Type input-field" type="text" placeholder="e.g. Exam" value="{{subject.reqName3}}">
                            <input name="gradeNum3" class="gradeSys-Points input-field" type="number" placeholder="%, e.g. 30" min="0" max="100" value={{subject.gradeNum3}}>

                            <input name="reqName4" class="gradeSys-Type input-field" type="text" placeholder="e.g. Exam" value="{{subject.reqName4}}">
                            <input name="gradeNum4" class="gradeSys-Points input-field" type="number" placeholder="%, e.g. 30" min="0" max="100" value={{subject.gradeNum4}}>

                            <input name="reqName5" class="gradeSys-Type input-field" type="text" placeholder="e.g. Exam" value="{{subject.reqName5}}">
                            <input name="gradeNum5" class="gradeSys-Points input-field" type="number" placeholder="%, e.g. 30" min="0" max="100" value={{subject.gradeNum5}}>
                            <button type="button" hidden id="add_gradeSys" class="control-button" onclick="addGradeSys()">+</button>
                            <button type="button" id="del_gradeSys" class="control-button" onclick="delGradeSys()">-</button>

                        </div><br>

                        <h3>Subject Schedule</h3>
                        <div id="startEnd">
                            <label for="start">Edit Start Time </label>
                            <input id="start" name="subStart" value="{{ subject.getSubStart }}" class="input-field" type="time"></input>
                            <br><br>
                            <label for="end">Edit End Time </label>
                            <input id="end" name="subEnd" value="{{ subject.getSubEnd }}" class="input-field" type="time"></input>
                            <br><br>

                            {% for day in days %}
                            <label><input type="checkbox" value="{{ day }}" name="subjDays"
                            {% if day in subject.subjDays %}
                            checked
                            {% endif %}
                            ></input>{{ day }}</label>
                            {% endfor %}
                        </div><br>
                        
                        <div id = "endButtons">
                        <input type="button" value ="Save" id="submit-button" class="control-button" onclick="submitForm(this.form)"
                        {% if subject_id == -1 %}
                        disabled
                        {% endif %}
                        ></input>
                        <input type="button" value ="Reset" id="cancel-button" class="control-button" onclick="this.form.reset()"/>
                        </div>
                    </form>

                    <!-- Add subjects data in HTML for access in javascript -->
                    {{ subjects_json|json_script:"subjects-data" }}
    {% include "navigation_end.html" %}
    </body>
</html>
