{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <script type="text/javascript" src="{% static 'js/main.js' %}" defer></script>
        <script type="text/javascript" src="{% static 'js/add_subject.js' %}" defer></script>
        <title>Add Subject Page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/add_subject.css' %}"/>
        <link rel="icon" href="{%static 'img/favicon.ico' %}" type="image/x-icon">
    </head>
    <body>
    {% include "navigation_start.html" %}
        <h3>Pr.io page walkthrough</h3>
        <iframe src="https://www.youtube.com/embed/pymcRITQxhs?rel=0&cc_load_policy=1&iv_load_policy=3&color=white" width="650" height="365" title="Prio Video Tutorial 1 Logging In and Signing Up" frameborder="0" allowfullscreen style='margin-left: 2%'></iframe>
        <br>

        <iframe src="https://www.youtube.com/embed/m860_YXf6X8" width="650" height="365" title="Prio Video Tutorial 2 Adding Subjects" frameborder="0"  allowfullscreen style='margin-left: 2%'></iframe>
        <br>
        <iframe src="https://www.youtube.com/embed/6RUB4sNnC6k?vq=hd1080" width="650" height="365" title="Prio Video Tutorial 3 Editing Subjects" frameborder="0" allowfullscreen style='margin-left: 2%'></iframe>
        <br>
        <iframe src="https://www.youtube.com/embed/WhP3MinENEM?vq=hd1080" width="650" height="365" title="Prio Video Tutorial 4 Adding Tasks" frameborder="0" allowfullscreen style='margin-left: 2%'></iframe>

    {% include "navigation_end.html" %}
    </body>
</html>
