        <div class="layout-container">
            <div class = "top-navigation-bar">
                <header>
                    <nav><a href="{% url 'viewSched' %}" class="menu">PR.IO</a></nav>
                    <nav><a href="{% url 'logout' %}" class="menu" id="logout">logout</a></nav>
                    <button class="help"><a href="#" id="help-text">?</a></button>
                </header>
            </div>

            <div class="below-nav-bar">
                <div class = "left-navigation-bar">
                    <br>
                    <a href="{% url 'viewSched' %}" class="menu">View Schedule</a><br><br>
                    <a href="{% url 'addTask' %}" class="menu">Add Task</a><br><br>
                    <a href="{% url 'checkSub' %}" class="menu">Search</a><br><br>
                    <a href="{% url 'addSub' %}" class="menu">Add Subject</a><br><br>
                    <a href="{% url 'editSub' %}" class="menu">Edit Subject</a><br><br>
                    <p class='menu'>LOGGED-IN USER: {{user.email}}</p>
                </div>

                <div class = "main-container">
