        <div class="layout-container">
            <div class = "top-navigation-bar">
                {% if user.is_authenticated %}
                <header>
                    <nav id = "prio"><a href="{% url 'viewSched' %}" class="menu-top"><b>⏰ PR.IO</b></a></nav>
                    <nav id ="logout"><a href="{% url 'logout' %}" class="menu-top"><b>LOG OUT</b></a></nav>
                    <button class="help"><a href="{% url 'help' %}" id="help-text">?</a></button>
                </header>
                {% elif not user.is_authenticated %}
                <header>
                    <br><nav id ="logout"><a href="{% url 'logout' %}" class="menu-top"><b>Back to LOGIN >></b></a></nav><br>
                </header>
                {% endif %}
            </div>

            {% if user.is_authenticated %}
            <div class="below-nav-bar">
                <div class = "left-navigation-bar">
                    <br>
                    <a href="{% url 'viewSched' %}" class="menu {% if active_page == 'viewSched' %}active{% endif %}">VIEW SCHEDULE</a><br><br>
                    <a href="{% url 'addTask' %}" class="menu {% if active_page == 'addTask' %}active{% endif %}">ADD TASK</a><br><br>
                    <a href="{% url 'addSub' %}" class="menu {% if active_page == 'addSub' %}active{% endif %}">ADD SUBJECT</a><br><br>
                    <a href="{% url 'checkSub' %}" class="menu {% if active_page == 'checkSub' %}active{% endif %}">SEARCH</a><br><br>
                    <a href="{% url 'editSub' %}" class="menu {% if active_page == 'editSub' %}active{% endif %}">EDIT SUBJECT</a><br><br>
                    <p id="loggedIn">Current user: --{{user}}--</p>
                </div>
            {% endif %}
            <div class = "main-container">
