{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Pr.io</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" charset='utf-8' />
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/view_schedule.css' %}"/>
        <link rel="icon" href="{%static 'img/favicon.ico' %}" type="image/x-icon">
        <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.5/index.global.min.js'></script>
        <!-- <script src='fullcalendar-main/fullcalendar-main/scripts/standard-scripts.js'></script> -->
        <!-- TODO: Remove dummy/placeholder values below-->
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                var calendarEl = document.getElementById('calendar');
                var calendar = new FullCalendar.Calendar(calendarEl, {
                    initialView: 'dayGridMonth',
                    headerToolbar: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'dayGridMonth,timeGridWeek,timeGridDay'
                    },
                    buttonText: {
                        prevYear: 'Prev Year',
                        nextYear: 'Next Year',
                        year: 'Year',
                        today: 'Today',
                        month: 'Month',
                        week: 'Week',
                        day: 'Day',
                        list: 'List',
                    },

                    eventClick: function(info) {
                        let detailsPane = document.getElementById("details-pane");
                        detailsPane.style = "display: inline";
                    },

                    events:[
                    {
                        title: '{{ task.name }}',
                        start: '{{ task.startDateTime }}',
                        end: '{{ task.endDateTime }}',
                    },
                    {% endfor %}
                    {% endif %}
                    ]
                });
                calendar.render();
            });

        </script>

    </head>
    <body>
    {% include "navigation_start.html" with active_page=active_page %}
        <!-- <h3 id="welcome">Hello &ltname&gt! Welcome to PR.IO!</h3> -->
        <!-- <img src="wip.png" style="display: flex; justify-content: center;"> -->
        <div id ="calendar"></div>
    {% include "navigation_end.html" %}
    </body>
</html>
